@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Merriweather:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none; 
}
 
body {
    font-family: Merriweather, sans-serif;
    color: yellow;
    background-color: rgb(45, 43, 43);
    
}

/*heading and logo */

h1 {
     font-family: Poppins, sans-serif;
     color: crimson;
}

 h2 { 
     font-family: Poppins, sans-serif;
     color: yellow;
 }    


p {
    font-family: Merriweather, sans-serif;
    color: yellow;
}

#logo {
    font-style: oblique;
    font-size: 300%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 25px;
}

#main-image {
    background-image: url(/assets/images/death-lift.jpeg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#motive {
    text-align: left;
    text-transform: capitalize;
    font-size: 250%;
    margin-top: 20px;
}

/* navigation menu */

header a {
    text-decoration: none;
}

#navmenu {
    font-size: 150%;
     }

#logo, #navmenu {
    line-height: 5px;
}



    #navmenu li {
        float: right;
        list-style-type: none;
        margin: 15px ;
    }

    #navmenu a {
        text-decoration: none;
        color: crimson;
    }

    #navmenu a:hover {
        border-bottom: 3px solid crimson;
    }

    .stay {
        border-bottom: 3px solid crimson;
    }

    /* workout plan */ 

    #workout-plan {
       clear: both;
       background-color: black;
    }

    #workout-plan img {
        height: 400px;
        padding-top: 0 auto;
        
    }
     
    img {
        border: 5px solid yellow;
    }
   
    .img, .workout {
        line-height: 40px;
    }

    .workout {
        width: 35%;
        padding-top: 40px;
        padding-right: 150px;
        float: right;
        margin: 0 auto;
       }

    .workout > ul {
        list-style-type: none;
    }

    .workout > li {
        color: yellow;
    
    }

    /* about me and the workout */

    #pic {
        background-image: url(/assets/images/weights-photo.jpeg);
        height: 1100px;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
}

    .about-workout p {
        text-align: center;
        font-size: 160%;
        margin: 0 auto;
        padding: 50px 150px;
    }

    /* join me to workout together */

    .strong {
        background-image: url(/assets/images/join-strong.jpeg);
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .join-me {

        font-size: 150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: rgba(245, 36, 36, 0.178);
        margin-top: 10%;
        margin-left: 5%;
        padding: 15px 30px;
    }

footer {
    height: 50px;
    }

    .social-links {
        text-align: center;
    }

    .social-links > li {
        display: inline;
    }

    .social-links i {
        font-size: 150%;
        color: yellow;
        margin: 2px;
        padding: 30px;
        
    }





        
    

    



