@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Merriweather:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none; 
}
 
body {
    font-family: Merriweather, sans-serif;
    color: crimson;
    background-color: blue;
    
}



h1,h2 {
     font-family: Poppins, sans-serif;
     color: yellow;
}

p {
    font-family: Merriweather, sans-serif;
    color: crimson;
}

#logo {
    font-style: oblique;
    font-size: 300%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 15px 0 0 15px;
}

#main-image {
    background-image: url(/assets/images/stars.jpeg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#motive {
    text-align: center;
    text-transform: capitalize;
    font-size: 250%;
    margin-top: 20px;
}


    
