@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quicksand:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none; 
}
 
body {
    font-family: Quicksand, sans-serif;
    color: yellow;
    background-color: rgb(45, 43, 43);
     
}

/*heading and logo */

h1 {
     font-family: Oswald, sans-serif;
     color: crimson;
}

 h2 { 
     font-family: Oswald, sans-serif;
     color: yellow;
 }    


p {
    font-family: Quicksand, sans-serif;
    color: yellow;
}

#logo {
    font-style: oblique;
    font-size: 300%;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 25px;
}

#main-image {
    background-image: url(/assets/images/death-lift.jpeg);
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#motive {
    text-align: left;
    text-transform: capitalize;
    font-size: 250%;
    margin-top: 20px;
    padding-left: 10px;
}

/* navigation menu */

header a {
    text-decoration: none;
}

#navmenu {
    font-size: 150%;
     }

#logo, #navmenu {
    line-height: 5px;
}



    #navmenu li {
        float: right;
        list-style-type: none;
        margin: 15px ;
    }

    #navmenu a {
        text-decoration: none;
        color: crimson;
    }

    #navmenu a:hover {
        border-bottom: 3px solid crimson;
    }

    .stay {
        border-bottom: 3px solid crimson;
    }

    /* workout plan */ 

    #workout-plan {
       clear: both;
       background-color: black;
    }


     
    img {
        border: 5px solid yellow;
    }

    #workout-plan li {
        list-style-type: none;
    }

    

    .first-day img {
        height: 400px;
        margin: 5px;
        position: sticky;
    }

    .second-day img {
        height: 400px;
        margin: 5px;
        position: sticky;
    }

    .third-day img {
        height: 400px;
        margin: 5px;
        position: sticky;
    }

    .fourth-day img {
        height: 400px;
        margin: 5px;
        position: sticky;
    }

    .first-session {
        float: left;
        width: 50%;
        font-size: 130%;
        float: right;
        text-align: center;
        margin-top: 20px;
        position: relative;
    }
 
    .second-session {
     width: 50%;
     font-size: 130%;
     float: right;
     text-align: center;
     margin-top: 20px;
     position: relative;
    }
 
    .third-session {
     width: 50%;
     font-size: 130%;
     float: right;
     text-align: center;
     margin-top: 20px;
     position: relative;
    }
 
    .fourth-session {
     width: 50%;
     font-size: 130%;
     float: right;
     text-align: center;
     margin-top: 20px;
     position: relative;
    }
 
   
   

   

    /* about me and the workout */

    #pic {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(/assets/images/weights-photo.jpeg);
        height: 1100px;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
}

    .about-workout p {
        text-align: center;
        font-size: 160%;
        margin: 0 auto;
        padding: 50px 150px;
        position: relative;
    }

    /* join me to workout together */

    .strong {
        background-image: url(/assets/images/join-strong.jpeg);
        height: 600px;
        width: 100%;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    .join-me {

        font-size: 150%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-radius: 10px;
        background-color: rgba(245, 36, 36, 0.178);
        margin-top: 10%;
        margin-left: 5%;
        padding: 15px 30px;
    }

    .join-button {
        margin: 15px;
        padding: 5px 15px;
        background-color: yellow;
        color: crimson;
        font-size: 100%;

        

    }

    /* Footer */

footer {
    height: 50px;
    position: relative;
    }

    .social-links {
        text-align: center;
    }

    .social-links > li {
        display: inline;
    }

    .social-links i {
        font-size: 150%;
        color: yellow;
        margin: 2px;
        padding: 30px;
        
    }

    footer > p {
        float: right;  
        padding-bottom: 10px;
    }

    /* Media queries */

    /* For large and medium screens sizes (1200px)  */

    @media screen and (max-width: 1200px){
        #main-image {
            height: 1200px;
            width: 100%;
        }
         
         }





        
    

    



